

.mini-div{

justify-content: space-around;
display: flex;
background-color: #021629;
width: 100%;
height: 12vh;
position: fixed;
top: 0;
left: 0;
right: 0;
opacity: .7;
z-index: 3;

    .mini-div-1{

        justify-content: space-around;
        display: flex;
        width: 50%;

        .logo-div{
        
            width: 20%;
            
            img{
        
                width: 100%;
                height: 40%;
                margin-left: -10%;
                margin-top: 15%;
        
            }
        
        }

        .text-div{

            width: 5%;
            height: 100%;

            .mini-text-div-1{

                margin-left: -230%;
                margin-top: 50%;

                div{

                    display: flex;

                    .arrow-1{
        
                        width: 7%;
                        height: 7%;
                        margin-left: 5%;
                        margin-top: 10%;
                        color: white;
                
                    }
    
                }
                
                h2{
    
                    font-size: 14px;
                    color: rgb(255, 255, 255);
                    margin-top: 5%;
    
                }

            }

            .mini-text-div-2{

                margin-left: -400%;
                margin-top: 40%;
                line-height: 150%;

                div{

                    display: flex;

                    .arrow-2{
        
                        width: 4.5%;
                        height: 4.5%;
                        margin-left: 3%;
                        margin-top: 9%;
                        color: white;
                
                    }
    
                }
                
                h2{
    
                    font-size: 14px;
                    color: rgb(255, 255, 255);
                    margin-top: 5%;
                    line-height: 140%;

                }

            }

            .mini-text-div-3{

                margin-left: -600%;
                margin-top: 30%;
                line-height: 170%;

                div{

                    display: flex;

                    .arrow-3{
        
                        width: 3.5%;
                        height: 3.5%;
                        margin-left: 3%;
                        margin-top: 7.5%;
                        color: #fff;

                    }
    
                }
                
                h2{
    
                    font-size: 14px;
                    color: rgb(255, 255, 255);
                    margin-top: 4%;
    
                }

            }

            h3{

                font-size: 12px;
                color: gray;
                margin-top: -8%;

                font-family: serif;
                

            }


        }

    }

    .mini-div-2{

        display: flex;
        color: white;

        .text-div{

            width: 20%;
            height: 100%;
            line-height: 10%;
            margin-left: -200%;
            margin-top: 40%;
            font-size: 12px;
            font-weight: 200;

            h3{

                font-size: 14px;
                color: gray;
                font-family: serif;
                margin-top: 5%;

            }

        }

        .img-div{

            width: 10%;
            height: 15%;
            margin-top: 2%;
            margin-left: 84%;
            display: flex;
            justify-content: space-between;

            .arrow-4{

                width: 20%;
                height: 20%;

            }
    
            .arrow-5{
    
                width: 20%;
                height: 20%;
    
            }
    
            .arrow-6{
    
                width: 20%;
                height: 20%;
    
            }
    
            .arrow-7{
    
                width: 10%;
                height: 10%;
                margin-top: 4%;
                margin-left: -10%;
    
            }
    

        }

    }

}   