.Main{

    .border-div-1{

        width: 4%;
        height: 100vh;
        background-color: rgb(15, 36, 56);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 120;

        @media screen and (max-width: 768px){
        
            display: none;
    
        }
    
    }
    .border-div-2{
    
        width: 4%;
        height: 100vh;
        background-color: rgb(15, 36, 56);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 120;

        
        @media screen and (max-width: 768px){
        
            display: none;
    
        }
    
    }

}